body {
  background: url('../Assets/Test 1.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

.card {
  width: 800px;
  height: 400px;
  border-radius: 4px;
  background: #650404;
  display: flex;
  gap: 10px;
  padding: .4em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

.card p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #650404;
  border: 2px solid #F4ECD8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card p:hover {
  flex: 4;
}

.card p img {
  max-width: 100%;
  max-height: 100%;
  transition: all .5s;
  transform: scale(3.2);
}

.card p:hover img {
  transform: scale(1.7);
}

.card p span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: .5em;
  text-align: center;
  font-family: 'Ramabhadra', sans-serif;
}

.card p:hover span {
  transform: translate(-50%, -50%) rotate(0);
  top: 90%;
}

.text-below-card {
  text-align: center;
  font-size: 2.5em;
  color: #F4ECD8;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: 'Ramaraja', sans-serif;
}

.description-text {
  text-align: center;
  font-size: 1.1em;
  margin: 0 15%;
  color: #F4ECD8;
  letter-spacing: .1em;
  font-family: 'Inter', sans-serif;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #F4ECD8;
  padding: 12px;
  border-radius: 20px;
  position: relative;
  width: 70%;
  max-width: 70%;
  max-height: 80%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5em;
  color: #650404;
}

.popup-content p {
  margin-bottom: 10px;
  color: #650404;
  font-family: 'Ramabhadra', sans-serif;
}

.popup-content p:last-child {
  margin-bottom: 0;
}

.gif-container {
  text-align: center;
  margin-bottom: 20px;
}
.gif-container img {
  max-width: 35%;
  max-height: 50vh;
  display: block;
  margin: 0 auto;
}

.cat-fact-box {
  text-align: center;
}

.ivory-box {
  background-color: #F4ECD8;
  padding: 20px;
  border-radius: 10px;
}

.ivory-box p {
  color: #650404;
  font-size: 1.1em;
  font-family: 'Inter', sans-serif;
}